doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title Airbnb Manager
    link(rel='stylesheet', type='text/css', href='/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet', type='text/css', href='/bootstrap-table/dist/bootstrap-table.css')
  body
    .container-fluid
      h1.page-header Airbnb Manager
      .row
        .col-sm-8.col-sm-offset-2.text-center
          h3
            != "Choose the "
            kbd .ics
            != " Airbnb calendar file"
          br
          form#airbnbForm(method="post", action="/parseCalendar")
            .input-group
              input.form-control(name="input_url_path", type='text')
              label.input-group-btn
                input.btn.btn-primary(type="submit", value="Load .ICS from url")

      block content
      hr
      table#table_result(data-search='true', data-show-columns='true', data-show-export='true', data-show-pagination-switch='true', data-pagination='true', data-id-field='id', data-page-size='25', data-page-list='[25, 50, 100, ALL]')
      hr
      |  Source code on
      !=" "
      a(href='https://github.com/gianlucadelgobbo/Airbnb-Manager', target='_blank') Github
      #div_result_file_name
      #div_result_table
    script(src='jquery/dist/jquery.min.js')
    script(src='bootstrap/dist/js/bootstrap.min.js')
    script(src='bootstrap-table/dist/bootstrap-table.js')
    script(src='bootstrap-table/dist/locale/bootstrap-table-en-US.min.js')
    script(src='bootstrap-table/dist/extensions/export/bootstrap-table-export.min.js')
    script(src='tableexport.jquery.plugin/tableExport.js')
    script(type='text/javascript', src='index.js')
    script(type='text/javascript', src='script.js')

